@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 80vh;
    min-width: 1340px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%)
  }

  /* =============================START MAIN  AREA=========================== */
  .site{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 800px;
    background-color: white;
    border-radius: 8px;
    margin-left: 250px;
  }
  /* =============================START INFO SECTION AREA====================== */
.info{
    text-align: start;
    padding: 30px;
}

.info-h1{
    font-size: 2.5em;
    font-style: normal;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    padding: 30px 0px;
}

.info-h2{
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    padding-top: 10px;
}

.info-para{
     font-size: 1em;
    font-style: normal;
    font-weight: 400;
    color: hsl(218, 22%, 67%);
    padding: 10px 0px;
}
  /* =============================END INFO SECTION AREA====================== */
  /* =============================START SIGNUP SECTION AREA====================== */
  .signup{
    margin-top: 20px;
    display: flex;

  }
/* =====================================START PRICE AREA============================= */
  .price{
    width: 400px;
    background-color: hsl(179, 62%, 43%);
    text-align: start;
    padding: 30px;
    border-radius: 0px 0px 0px 8px;
  }

  .price-h3{
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    color: white;
  }

  .price-small{
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    color: hsl(204, 43%, 93%);
    padding: 20px 0px;
  }

  .price-small strong{
    color: white;
    font-size: 1.5em;
    font-weight: 700;
  }

  .price-para{
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    color: white;
    padding: 20px 0px;
  }

  .btn{
    width: 90%;
    padding: 20px;
    margin-top: 30px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
  }

  .btn:hover{
    background-color: hsla(71, 73%, 54%, 0.797);
  }
  /* =========================================START ABOUT AREA============================== */
  .about{
    width: 400px;
    background-color: hsla(179, 62%, 43%, 0.833);
    text-align: start;
    padding: 30px;
    border-radius: 0px 0px 8px 0px;
  }

  .about-h3{
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    color: white;
  }

  .about-ul{
    margin-top: 20px;
  }

  .about-li{
    list-style: none;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    padding-top: 10px;
  }

  /* =============================END SIGNUP SECTION AREA====================== */
  /* =============================END MAIN  AREA=========================== */
  /* =============================START FOOTER  AREA=========================== */
  .foot {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    color: hsl(0, 100%, 67%);
    background-color: black;
    margin-top: 50px;
  }
  
  .foot a {
    text-decoration: none;
    color: hsl(39, 100%, 56%);
  }
  /* =============================END FOOTER  AREA=========================== */

  /* ==================================START MEDIA QUERRY======================== */
  @media screen and (max-width: 768px) {
    body{
      min-width: fit-content;
      justify-content: start;
    }

    .site{
      margin: 50px 30px;
      width: 90%;
    
    }

    .signup{
      flex-direction: column;
    }

    .price{
      border-radius: 0px;
      width: 100%;
    }

    .about{
      border-radius: 0px 0px 8px 8px;
      width: 100%;
    }
  }

  @media screen and (max-width:400px) {
    body{
      min-width: 400px;
    
    }
    .site{
      margin: 50px 20px;
    }

    .info-h1{
      font-size: 2rem;
    }

    .info-h2{
      font-size: 1.2rem;
    }
  }
  /* ==================================END MEDIA QUERRY======================== */
  
